/carplay/bin
/carplay/.settings
/carplay/gen
/carplay/build
/carplay/.classpath
/carplay/project.properties
/carplay/project
/.gradle
/dhroid/bin
/dhroid/build
/dhroid/gen
/dhroid/.classpath
/dhroid/.settings
/dhroid/.svn
/build
carplay/project.properties
