<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gongpingjia.carplay"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FIND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".CarPlayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b27e335e60c96ab5a330a98cb6a6c59d" />

        <activity android:name=".activity.active.CreatActiveActivity" >
        </activity>
        <activity android:name=".activity.my.PersonalDataActivity" >
        </activity>
        <activity android:name=".activity.my.SettingActivity" >
        </activity>
        <activity android:name=".activity.my.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.my.ForgetPwdActivity" >
        </activity>
        <activity android:name=".activity.my.PwdNextActivity" >
        </activity>
        <activity android:name=".activity.my.AttentionPersonActivity" >
        </activity>
        <activity android:name=".activity.msg.PlayCarChatActivity" >
        </activity>
        <activity android:name=".activity.BasicMessageActivity" >
        </activity>
        <activity android:name=".activity.main.MainActivity" />
        <activity android:name="com.gongpingjia.carplay.activity.my.BasicMessageActivity" >
        </activity>
        <activity android:name=".activity.PartyDetailsActivity" />
        <activity android:name=".activity.my.AuthenticateOwnersActivity" >
        </activity>
        <activity android:name=".activity.active.ActiveInformationActivity" >
        </activity>
        <activity android:name=".activity.my.RegisterActivity" >
        </activity>
        <activity android:name=".activity.msg.ChatActivity" >
        </activity>
        <activity android:name=".activity.active.EditActiveActivity" >
        </activity>
        <activity android:name=".activity.msg.NewMessageActivity" >
        </activity>
        <activity android:name=".activity.my.ParticipateApplicationActivity" >
        </activity>
        <activity android:name=".activity.my.MyAttentionActiveActivity" >
        </activity>
        <activity android:name=".activity.my.MyParticipationActiveActivity" >
        </activity>
        <activity android:name=".activity.my.MyReleaseActiveActivity" >
        </activity>
        <activity android:name=".activity.main.SplashActivity" >
        </activity>
        <activity android:name="com.gongpingjia.carplay.activity.active.EventIntroduceActivity" >
        </activity>
        <activity android:name=".activity.active.ActiveMembersActivity" >
        </activity>
        <activity android:name=".activity.active.MyActiveMembersManageActivity" >
        </activity>
        <activity android:name=".activity.active.ActiveIntroduceActivity" >
        </activity>
        <activity android:name=".activity.active.ActiveDetailsActivity" >
        </activity>
        <activity android:name=".activity.my.ManageAlbumActivity" >
        </activity>
        <activity android:name=".activity.active.ActivePositionActivity" >
        </activity>
        <activity android:name=".activity.my.CarTypeSelectActivity" >
        </activity>
        <activity android:name=".activity.active.CreateActiveActivity" >
        </activity>

        <activity android:name=".activity.active.ActiveDescriptionActivity" >
        </activity>
    </application>

</manifest>